/*ESTILOS GLOBALES*/
:root {
  --primary: #D32F2F; 
  --primary-hover: #B71C1C;
  --accent: #1976D2;
  --bg-color: #f4f4f4;
  --text-color: #333;
  --white: #ffffff;
  
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--bg-color);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  cursor: pointer;
}